.header-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background-color: rgb(18, 39, 39);
}

.app-name {
    padding-left: 60px;   
}

.app-name span{
    color:rgb(255, 255, 255);
   
}

.navigation{
    margin-right: 50px;
}

.navigation a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-right: 20px;
    transition: 0.2ms;
    cursor: pointer;
    
}

.navigation a:hover{
    color: rgba(255, 255, 255, 0.7);
}

.router-link-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }